.about-blurb{
    margin: 10% auto;
    width: 65%;
}
.about-blurb-header{
    font-family: 'Handlee', cursive;
    font-size: 40px;
    color:rgb(130, 130, 130);
}
.about-blurb-par{
    font-family: 'Handlee', cursive;
    margin-top: 5%;
    font-size: 20px;
    line-height: 1.6;
    color: rgb(130, 130, 130);
}
.about-blurb-signature{
    font-family: 'Handlee', cursive;
    margin-top: 5%;
    font-size: 20px;
    color: rgb(130, 130, 130);
}