.home-page{
    max-height: 100vh;
}

/*-----------------------------------------*/

.image-grid{
    margin-left: 50px;
    margin-top: 40px;
    height: 85vh;
    width: 45%;

    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.column {
    height: 100%;
    width: 150px;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 5px;
}
.img-size-1-container{
    flex-grow: 1;
    width: 100%;
    height: 100px;

}
.img-size-2-container{
    flex-grow: 1;
    width: 100%;
    height: 200px;
}
.img-size-1, .img-size-2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

/*---------------------------------------------*/

.search-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 250px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(176, 176, 176);
    padding: 20px;
}
.search-contents{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 70%;
    background-color: rgb(255, 255, 255);
}
.search-contents h1{
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: rgb(176, 176, 176);
}
.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap: 5px;
    
}
.search-textbox{
    width: 70%;
    height: 68px;
    border-radius: 25px;
    border: solid 1px rgb(201, 201, 201);
    color: rgb(110, 110, 110);
    font-size: 20px;
    padding-left: 20px;
}
.search-textbox:focus{
    outline: none;
}
.search-btn{
    width: 80px;
    height: 69px;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    font-size: 18px;
    background-color: rgb(240, 240, 240);
}

/*---------------------------------------------------*/

@media (max-width: 1250px) {
    .image-grid{
        width: 55%;
    }
}
@media (max-width: 900px) {
    .image-grid{
        width: 55%;
    }
    .search-container{
        width: 90%; 
    }
    .search-contents h1{
        font-size: 40px;
    }
    .search-textbox{
        font-size: 18px;
        padding-left: 20px;
    }
    .col-3{
        display: none;
    }
  }
  
  @media (max-width: 600px) {
    .search-contents h1{
        font-size: 30px;
    }
    .searchbar{
        flex-direction: column;
    }
    .search-textbox{
        width: 100%;
        font-size: 16px;
    }
    .col-2, .col-3{
        display: none;
    }
  }
  @media (max-width: 375px) {
    .search-contents h1{
        font-size: 20px;
    }
  }